{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/accountPage.css' %}">
{% endblock %}

{% block title %}
    Page about
{% endblock %}

{% block first-frame-content %}
<script> if ("{{ name | escapejs }}" == "") { location.reload(); } </script>
<!-- Text -->
    <div class="account-block">
        <img class="avatar" src="{% static 'main/img/avatar.png' %}" alt="avatar" />
        <table class="table-fill user-data">
            <tbody class="table-hover">
                <tr>
                    <td class="text-left">Имя пользователя</td>
                    <td class="text-left">{{ name }}</td>
                </tr>
                <tr>
                    <td class="text-left">Электронная почта</td>
                    <td class="text-left">{{ email }}</td>
                </tr>
                <tr>
                    <td class="text-left">Номер телефона</td>
                    <td class="text-left">{{ phone }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}